{% extends "base.html" %}

{% block head %}
{% include "base_head.html" %}
{% endblock %}
{% block pageassets %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/channel.css" %}" />
{% endblock %}
{% block topnav %}
{% include "topnav.html" %}
{% endblock %}
{% block sidenav %}
{% include "sidenav.html" %}
{% endblock %}
{% block rightnav %}
{% include "sidenav.html" %}
{% endblock %}
{% block first_content %}
{% if object.is_live %}
  <h1>LIVE!</h1>
{% include "live_player.html" %}
{% endif %}

{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>Streamkey: {{ object.streamkey }}</p>
{% endblock %}
{% block footer %}
{% include "base_footer.html" %}
{% endblock %}