<div id="home-top-vids-slider" uk-slider>
    <div class="uk-position-relative">

        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-child-width-1-5">
                <li class="slide-left-2">
                    <div>
                        <img src="https://via.placeholder.com/500x350/292E3D" alt="">
                        <div class="uk-position-center uk-panel">
                            <h1></h1>
                        </div>
                    </div>

                </li>
                <li class="slide-left-1">
                    <div>
                        <img src="https://via.placeholder.com/500x350/313749" alt="">
                        <div class="uk-position-center uk-panel">
                            <h1></h1>
                        </div>
                    </div>
                </li>
                <li class="slide-center">
                    <div>
                        <img src="https://via.placeholder.com/500x350/394056" alt="">
                        <div class="uk-position-center uk-panel">
                            <h1></h1>
                        </div>
                    </div>
                </li>
                <li class="slide-right-1">
                    <div>
                        <img src="https://via.placeholder.com/500x350/313749" alt="">
                        <div class="uk-position-center uk-panel">
                            <h1></h1>
                        </div>
                    </div>
                </li>
                <li class="slide-right-2">
                    <div>
                        <img src="https://via.placeholder.com/500x350/292E3D" alt="">
                        <div class="uk-position-center uk-panel">
                            <h1></h1>
                        </div>
                    </div>
                </li>
                <li class="slide-next">
                    <img src="https://via.placeholder.com/500x350/313749" alt="">
                    <div class="uk-position-center uk-panel">
                        <h1>6</h1>
                    </div>
                </li>
                <li class="slide-next">
                    <img src="https://via.placeholder.com/500x350/313749" alt="">
                    <div class="uk-position-center uk-panel">
                        <h1>7</h1>
                    </div>
                </li>

            </ul>
        </div>

        <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next
                uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small" href="#"
                uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                uk-slider-item="next"></a>
        </div>

    </div>


</div>