{% extends "base.html" %}

{% block head %}
{% include "base_head.html" %}
{% endblock %}
{% block pageassets %}
  <link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
  <!-- Fantasy -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "css/channel_admin.css" %}" />
  
{% endblock %}
{% block topnav %}
{% include "topnav.html" %}
{% endblock %}
{% block sidenav %}
{% include "sidenav.html" %}
{% endblock %}
{% block rightnav %}
{% include "sidenav.html" %}
{% endblock %}
{% block first_content %}
{% include "player.html" %}
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
{% include "base_footer.html" %}
{% endblock %}