                        <!-- begin card placeholder demo-->
                        <div class="uk-width-1-1">
                            <h3 class="uk-align-left">Live Channels</h3>
                        </div>
                        <div class="uk-child-width-1-6" uk-grid>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo cards-->
                        </div>
                        <hr class="uk-divider-icon">
                        <div class="uk-width-1-1">
                            <h3 class="uk-align-left"><a href="#">Categories</a></h3>
                        </div>
                        <div class="uk-child-width-1-6" uk-grid>
                            <!-- begin card placeholder demo-->
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo cards-->
                        </div>
                        <hr class="uk-divider-icon">
                        <div class="uk-width-1-1">
                            <h3 class="uk-align-left">Popular</h3>
                        </div>
                        <div class="uk-child-width-1-6" uk-grid>
                            <!-- begin card placeholder demo-->
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default vid-prev-card">
                                    <div class="uk-card-media-top">
                                        <img src="https://via.placeholder.com/300x250" alt="">
                                    </div>
                                    <div class="uk-card-body uk-light vid-prev-body">
                                        <div class="uk-width-expand" uk-grid>
                                            <div class="uk-width-1-4 card-avatar-thumb">
                                                <img data-src="https://via.placeholder.com/80x80" width="" height=""
                                                    alt="" uk-img>
                                            </div>
                                            <div class="uk-width-3-4 card-desc">
                                                <span><a><strong>Title</strong></a></span>
                                                <span><a>Channel</a></span>
                                                <span><a>Category</a></span>
                                                <span class="uk-badge">English</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo cards-->
                        </div>
                        <hr class="uk-divider-icon">