<div id="player-wrap">
    <div id="player-pane">



        <div id="vid"></div>
        <script>
            var player = new Clappr.Player({
                source: "http://45.79.20.198:8080/live/{{object.streamkey}}_ff.m3u8",
                plugins: [LevelSelector],
                parentId: "#vid",
                width: 1920,
                height: 1080,
                hideMediaControl: false,
                autoPlay: true
            });


            //var videoSrc = 'http://45.33.127.44:8080/live/{{object.streamkey}}_ff.m3u8'; // "_ff" = transcoded. in this case it is from the 720p server 
            //var videoSrc = 'http://45.79.20.198:8080/live/{{object.streamkey}}_ff.m3u8'; // "_ff" = transcoded. in this case it is from the 1080p server
            //var videoSrc = 'http://45.79.52.159:1935/se-test/foo/playlist.m3u8'; // wowza
        </script>

    </div>
</div>