<div id="player-wrap">
    <div id="player-pane">



        <div id="player" style="position:absolute;top:0;right:0;bottom:0;left:0"></div>
        <script>
            var playerElement = document.getElementById("player");

            var player = new Clappr.Player({
                source: 'https://transcode.streamengine.live/live/master.m3u8', //http://45.79.20.198:8080/live/master.m3u8 https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8
                poster: 'http://clappr.io/poster.png',
                plugins: [LevelSelector],
                mute: false,
                autoplay: false,
                mediacontrol: {
                    'seekbar': '#c70724',
                    'buttons': '#c70724'
                },
                height: '100%',
                width: '100%'
            });

            player.attachTo(playerElement);
        </script>

    </div>
</div>