{% extends "base.html" %}

{% block head %}
{% include "base_head.html" %}
{% endblock %}
{% block topnav %}
{% include "topnav.html" %}
{% endblock %}
{% block sidenav %}
{% include "sidenav.html" %}
{% endblock %}
{% block first_content %}
{% endblock %}
{% block content %}





<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
        <p>{{ form.email }}</p> 
      <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>







{% endblock %}
{% block footer %}
{% include "base_footer.html" %}
{% endblock %}



